<ion-view view-title="Scanner">
    <ion-content style="background: #e8ebf1;" class="padding">
        <p>Score: {{vm.score}}</p>
        <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="vm.scan()">
                    <i class="icon ion-qr-scanner"></i>
                    Scan Now
                </button>
            </div>
        </div>

        <div class="card" ng-show="vm.hasInfo">
            <div class="item item-divider">
                {{vm.result.name}}
            </div>
            <div class="item item-text-wrap">
                {{vm.result.description}}
            </div>
        </div>
    </ion-content>
</ion-view>
